#!/usr/bin/make -f

JOBS := $(shell nproc)
LLVM := -21

KERNELVERSION := $(shell $(MAKE) -s ARCH=x86_64 LLVM=$(LLVM) kernelversion)
GET_KERNELRELEASE = $(shell $(MAKE) -s ARCH=x86_64 LLVM=$(LLVM) kernelrelease)

debian/control: debian/control.in
	@echo "Generating debian/control"
	sed -e 's/@KERNELVERSION@/$(KERNELVERSION)/g' \
		$(CURDIR)/debian/control.in > $(CURDIR)/debian/control

%:
	dh $@

override_dh_auto_clean:
	$(MAKE) ARCH=x86_64 LLVM=$(LLVM) mrproper

override_dh_auto_configure:
	cp $(CURDIR)/debian/config $(CURDIR)/.config
	$(MAKE) ARCH=x86_64 LLVM=$(LLVM) olddefconfig

override_dh_auto_build:
	$(MAKE) -j $(JOBS) ARCH=x86_64 LLVM=$(LLVM) all
	$(MAKE) -j $(JOBS) ARCH=x86_64 LLVM=$(LLVM) modules

override_dh_auto_test:
	@echo "Skipping dh_auto_test"

override_dh_auto_install:
	$(eval KERNELRELEASE := $(GET_KERNELRELEASE))

	install -d $(CURDIR)/debian/linux-image-$(KERNELVERSION)-mdf-xx
	$(MAKE) -j $(JOBS) ARCH=x86_64 LLVM=$(LLVM) INSTALL_MOD_STRIP=1 INSTALL_MOD_PATH=$(CURDIR)/debian/linux-image-$(KERNELVERSION)-mdf-xx/usr modules_install
	install -D -m 644 $(CURDIR)/System.map $(CURDIR)/debian/linux-image-$(KERNELVERSION)-mdf-xx/boot/System.map-$(KERNELRELEASE)
	install -D -m 644 $(CURDIR)/.config $(CURDIR)/debian/linux-image-$(KERNELVERSION)-mdf-xx/boot/config-$(KERNELRELEASE)
	install -D -m 644 $(CURDIR)/arch/x86/boot/bzImage $(CURDIR)/debian/linux-image-$(KERNELVERSION)-mdf-xx/boot/vmlinuz-$(KERNELRELEASE)
	rm -f $(CURDIR)/debian/linux-image-$(KERNELVERSION)-mdf-xx/usr/lib/modules/$(KERNELRELEASE)/build

	install -d $(CURDIR)/debian/linux-image-$(KERNELVERSION)-mdf-xx-dbg
	$(MAKE) -j $(JOBS) ARCH=x86_64 LLVM=$(LLVM) INSTALL_MOD_PATH=$(CURDIR)/debian/linux-image-$(KERNELVERSION)-mdf-xx-dbg/usr/lib/debug modules_install
	install -D -m 644 $(CURDIR)/System.map $(CURDIR)/debian/linux-image-$(KERNELVERSION)-mdf-xx-dbg/usr/lib/debug/lib/modules/$(KERNELRELEASE)/System.map
	install -D -m 644 $(CURDIR)/vmlinux $(CURDIR)/debian/linux-image-$(KERNELVERSION)-mdf-xx-dbg/usr/lib/debug/lib/modules/$(KERNELRELEASE)/vmlinux

	sed -e 's/@KERNELRELEASE@/$(KERNELRELEASE)/g' \
		$(CURDIR)/debian/linux-image.postinst.in > $(CURDIR)/debian/linux-image-$(KERNELVERSION)-mdf-xx.postinst
	sed -e 's/@KERNELRELEASE@/$(KERNELRELEASE)/g' \
		$(CURDIR)/debian/linux-image.postrm.in > $(CURDIR)/debian/linux-image-$(KERNELVERSION)-mdf-xx.postrm

override_dh_installdebconf:
	@echo "Skipping dh_installdebconf"

override_dh_dwz:
	@echo "Skipping dh_dwz"

override_dh_strip:
	dh_strip --dbg-package=linux-image-$(KERNELVERSION)-mdf-xx-dbg
